@model UniversityDatabase.ViewModels.Department.DepartmentCreateViewModel;

<h2 class="info-title">Редактировать Кафедру</h2>
    <hr />
        <form class="form form-create" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.Department.Id" type="hidden" asp-for="Department.Id" />
            <div class="form-group">
                <label asp-for="Department.Name" class="control-label">Название</label>
                <input value="@Model.Department.Name" asp-for="Department.Name" class="form-control" />
                <span asp-validation-for="Department.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Phone" class="control-label">Телефон</label>
                <input value="@Model.Department.Phone" asp-for="Department.Phone" class="form-control" />
                <span asp-validation-for="Department.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.FacultyId" class="control-label">Деканат</label>
                <select class="form-select" asp-for="Department.FacultyId">
                    <option hidden selected value="">Select</option>

            @foreach (var faculty in Model.FacultyOptions)
            {
                if (Model.Department.FacultyId == faculty.Key)
                {
                       <option selected value="@faculty.Key" >@faculty.Value</option>
                }
                else
                {
                        <option value="@faculty.Key" >@faculty.Value</option>
                }
            }
                </select>
                <span asp-validation-for="Department.FacultyId" class="text-danger"></span>
            </div>

            <div style="margin-top:10px;" class="form-group box">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
