@model UniversityDatabase.ViewModels.Department.DepartmentIndexViewModel;

@{
    string cellCssWidth = $"{90 / 4}%";
} 


<div>
    <h2 class="info-title">Кафедры</h2>
    <hr />
    <div class="box">

    <a class="btn btn-primary" asp-action="Create">Создать</a>
    </div>
    <hr />
    <div class="info-row info-row-title">
            <div style="width:@cellCssWidth" class="info-cell">Name</div>
            <div style="width:@cellCssWidth" class="info-cell">Phone</div>
            <div style="width:@cellCssWidth" class="info-cell">Faculty</div>
            <div style="width:@cellCssWidth" class="info-cell">Dean</div>
            <div class="info-cell info-cell-actions">Actions</div>
        </div>
    @foreach (var department in Model.Departments)
    {
                    <div class="info-row">
                            <div style="width:@cellCssWidth" class="info-cell">@department.Name</div>
                            <div style="width:@cellCssWidth" class="info-cell">@department.Phone</div>
                            <div style="width:@cellCssWidth" class="info-cell">@department.Faculty.Name</div>
                            <div style="width:@cellCssWidth" class="info-cell">@department.Faculty.Dean.Name</div>
                                <div class="info-cell info-cell-actions">
                                        <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-warning">Edit</a>
                                        <form asp-route-id="@department.Id" asp-action="Delete">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>

                                </div>
                    </div>
    }

</div>