@model UniversityDatabase.ViewModels.Faculty.FacultyIndexViewModel;


<section class="faculty section">
    <div class="section__head">
        <h2 class="title">Факультеты</h2>
    </div>
    <div class="box">
        <a class="create-btn" asp-action="Create">Создать факультет</a>
    </div>


    <div class="dean__content">
        @foreach(Faculty faculty in Model.Faculties)
        {
                <div class="item">
                    <h3 class="item-title">
                        @faculty.Name
                    </h3>
                                <div class="item-info"> <span class="item-info-title">Телефон: </span> @faculty.Phone</div>
                                <div class="item-info"> <span class="item-info-title">Деканат: </span> @faculty.Dean.Name</div>
                        <div class="item-actions">
                                            <a asp-action="Edit" asp-route-id="@faculty.Id" class="edit-btn"> <span class="edit-btn-text">Изменить</span> <span class="edit-btn-span"></span></a>
                                                <form asp-route-id="@faculty.Id" asp-action="Delete">
                                                                <button type="submit" class="delete-btn">  <span class="delete-btn-text">Удалить</span> <span class="delete-btn-span"></span> </button>
                                        </form>
                                        </div>
                </div>
        }
    </div>
</section>