@model UniversityDatabase.ViewModels.Teacher.TeacherDetailsViewModel;

@{
    string cellCssWidth = $"{100 / 7}%";
} 


<div>
    <h2 class="info-title">О преподавателе</h2>
    <hr />
    <div class="info-row info-row-title">
            <div style="width:@cellCssWidth" class="info-cell">Name</div>
            <div style="width:@cellCssWidth" class="info-cell">Surname</div>
            <div style="width:@cellCssWidth" class="info-cell">Patronomyc</div>
            <div style="width:@cellCssWidth" class="info-cell">Sex</div>
            <div style="width:@cellCssWidth" class="info-cell">Age</div>
            <div style="width:@cellCssWidth" class="info-cell">Department</div>
            <div style="width:@cellCssWidth" class="info-cell">Salary</div>
            <div style="width:@cellCssWidth" class="info-cell">Position</div>
        </div>
                    <div class="info-row">
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Name</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Surname</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Patronymic</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Sex.Name</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Age</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Department.Name</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.Salary</div>
                            <div style="width:@cellCssWidth" class="info-cell">@Model.Teacher.TeacherPosition.Name</div>
                    </div>
                    <hr />
                    <h2 class="info-title">Нагрузка</h2>
    <hr />
    <div class="info-row info-row-title">
            <div style="width:@cellCssWidth" class="info-cell">Subject</div>
            <div style="width:@cellCssWidth" class="info-cell">Total Hours</div>
            <div style="width:@cellCssWidth" class="info-cell">Course</div>
            <div style="width:@cellCssWidth" class="info-cell">Study Group</div>
            <div style="width:@cellCssWidth" class="info-cell">Semester</div>
            <div style="width:@cellCssWidth" class="info-cell">Type of occupation</div>
            <div style="width:@cellCssWidth" class="info-cell">Form of control</div>
            <div class="info-cell info-cell-actions">Actions</div>
        </div>
        @foreach(var workload in Model.Workloads){
                 <div class="info-row">
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.Subject.Name</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.TotalHours</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.StudyGroup.Name</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.Course.Number</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.Semester.Number</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.TypeOfOccupation.Name</div>
                                        <div style="width:@cellCssWidth" class="info-cell">@workload.StudyPlan.FormOfControl.Name</div>
                                        <div class="info-cell info-cell-actions">
                                           <div class="info-cell info-cell-actions">
                                                    <a asp-action="Edit"  asp-controller="Workload" asp-route-backUrl="@Context.Request.Path" asp-route-id="@workload.Id" class="btn btn-warning">Edit</a>
                                                <form asp-route-backUrl="@Context.Request.Path" asp-controller="Workload" asp-route-id="@workload.Id" asp-action="Delete">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>

                                    </div>
                                </div>
                        </div>
        }
                   

</div>