@model UniversityDatabase.ViewModels.Workload.WorkloadIndexViewModel;


<section class="department section">
    <div class="section__head">
        <h2 class="title">Нагрузка преподавателей</h2>
    </div>
    <div class="filter-box">
        <form method="post" class="filter-form" asp-action="Index">
            <div class="filter-form__inner">
        <div class="filter-form__group">
                    <select class="form-select filter-form__control" name="courseId">
            <option selected value="">Курс</option>
                        @foreach (var item in Model.CourseOptions)
                        {
                            if (Model.Filter.CourseId == @item.Key)
                            {
                                                         <option selected value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                                            <option value="@item.Key">@item.Value</option>
                            }
                        }
        </select>
                 </div>


                 <div class="filter-form__group">
                      <select class="form-select filter-form__control" name="semesterId">
               <option selected value="">Семестр</option>
                        @foreach (var item in Model.SemesterOptions)
                        {
                            if (Model.Filter.SemesterId == @item.Key)
                            {
                                                                 <option selected value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                                                    <option value="@item.Key">@item.Value</option>
                            }
                        }
        </select>
                 </div>
                 <div class="filter-form__group">
                     <select class="form-select filter-form__control" name="typeOfOccupationId">
               <option selected value="">Вид занятий</option>
                        @foreach (var item in Model.TypeOfOccupationOptions)
                        {
                            if (Model.Filter.TypeOfOccupationId == @item.Key)
                            {
                                                                         <option selected value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                                                            <option value="@item.Key">@item.Value</option>
                            }
                        }
        </select>
                 </div>


        <div class="filter-form__group">
                     <select class="form-select filter-form__control" name="studyGroupId">
               <option selected value="">Учебная группа</option>
                        @foreach (var item in Model.StudyGroupOptions)
                        {
                            if (Model.Filter.StudyGroupId == @item.Key)
                            {
                                                                         <option selected value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                                                            <option value="@item.Key">@item.Value</option>
                            }
                        }
        </select>
                 </div>

            </div>

            <button  type="submit" class="filter-form__submit" >Применить фильтр</button>
    </form>
        <a class="create-btn" asp-controller="StudyPlan" asp-route-isRenderForWorkload="true" asp-action="Index">Создать нагрузку</a>
    </div>


    <div class="dean__content">
        @foreach (var workload in Model.Workloads)
        {
                     <div class="study-item grade-item">
                              <div class="study-item__content">
                                      <div class="item-info"> <span class="item-info-title">Имя: </span> @workload.Teacher.Name</div>
                                         <div class="item-info"> <span class="item-info-title">Фамилия: </span>@workload.Teacher.Surname</div>
                                                   <div class="item-info"> <span class="item-info-title">Отчество: </span> @workload.Teacher.Patronymic</div>
                                                         <div class="item-info"> <span class="item-info-title">Предмет: </span>@workload.StudyPlan.Subject.Name</div>
                                                   <div class="item-info"> <span class="item-info-title">Кол-во часов: </span> @workload.TotalHours</div>
                                                   <div class="item-info"> <span class="item-info-title">Курс: </span> @workload.StudyPlan.Course.Number</div>
                                                          <div class="item-info"> <span class="item-info-title">Семестр: </span> @workload.StudyPlan.Semester.Number</div>
                                                          <div class="item-info"> <span class="item-info-title">Учебная группа: </span> @workload.StudyPlan.StudyGroup.Name</div>
                                                              <div class="item-info"> <span class="item-info-title">Тип занятий: </span> @workload.StudyPlan.TypeOfOccupation.Name</div>
                                                                  <div class="item-info"> <span class="item-info-title">Форма контроля: </span> @workload.StudyPlan.FormOfControl.Name</div>
                                                    </div>

                                                    <div class="study-item__actions">
                                                                            <a asp-action="Edit" asp-route-id="@workload.Id" class="study-edit-btn edit-btn"> <span class="edit-btn-text">Изменить</span> <span class="study-edit-btn-span edit-btn-span"></span></a>
                                                                                    <form asp-route-id="@workload.Id" class="study-delete-btn-form delete-btn-form" asp-action="Delete">
                                                                                                    <button type="submit" class="study-delete-btn delete-btn">  <span class="delete-btn-text">Удалить</span> <span class="study-delete-btn-span delete-btn-span"></span> </button>
                                                            </form>
                                                            </div>
                                            </div>
        }

    </div>
</section>

