@model UniversityDatabase.ViewModels.StudentGrade.StudentGradeCreateViewMode


<section class="form-section section">
    <div class="container">
        <div class="form-section-inner">
            <div class="form-section-head">
                <h1 class="form-section-title">Установить оценку</h1>
                <a class="form-section-back" asp-action="Index">Вернуться</a>
            </div>

            <form class="form form-create" asp-action="Edit">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.StudentGrade.Id" type="hidden" asp-for="StudentGrade.Id" />
            <input value="@Model.StudentGrade.StudentId" type="hidden" asp-for="StudentGrade.StudentId" />
            <input value="@Model.StudentGrade.StudyPlanId" type="hidden" asp-for="StudentGrade.StudyPlanId" />
            <input value="@Model.BackUrl" type="hidden" name="backUrl" />

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Оценка</h3>
                                   <select class="form-control form-select" asp-for="StudentGrade.GradeValueId">
                    <option hidden selected value="">Select</option>

                            @foreach (var grade in Model.GradeValueOptions)
                            {
                                if (Model.StudentGrade.GradeValueId == grade.Key)
                                {
                                                       <option selected value="@grade.Key" >@grade.Value</option>
                                }
                                else
                                {
                                                        <option value="@grade.Key" >@grade.Value</option>
                                }
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudentGrade.GradeValueId" class="form-group-danger"></span>
                </div>

            <div class="form-section__submit-wrapper">
                <button type="submit" class="form-section__submit-btn">Сохранить</button>
            </div>
        </form>
        </div>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
