@model UniversityDatabase.ViewModels.StudyPlan.StudyPlanCreateViewModel;

<h2 class="info-title">Редактировать Учебный план</h2>
    <hr />
        <form class="form form-create" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.StudyPlan.Id" type="hidden" asp-for="StudyPlan.Id" />
            <div class="form-group">
                <label asp-for="StudyPlan.TotalHours" class="control-label">Кол-во часов</label>
                <input asp-for="StudyPlan.TotalHours" class="form-control" />
                <span asp-validation-for="StudyPlan.TotalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyPlan.CourseId" class="control-label">Курс</label>
                <select class="form-select" asp-for="StudyPlan.CourseId">
                    <option hidden selected value="">Select</option>

            @foreach (var course in Model.CourseOptions)
            {
                if (Model.StudyPlan.CourseId == course.Key)
                {
                                               <option selected value="@course.Key" >@course.Value</option>
                }
                else
                {
                                                <option value="@course.Key" >@course.Value</option>
                }
                                     
            }
                </select>
                <span asp-validation-for="StudyPlan.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyPlan.SemesterId" class="control-label">Семестр</label>
                <select class="form-select" asp-for="StudyPlan.SemesterId">
                    <option hidden selected value="">Select</option>
            @foreach (var semester in Model.SemesterOptions)
            {
                if (Model.StudyPlan.SemesterId == semester.Key)
                {
                                                               <option selected value="@semester.Key" >@semester.Value</option>
                }
                else
                {
                                                                <option value="@semester.Key" >@semester.Value</option>
                }
                                  
            }
                </select>
                <span asp-validation-for="StudyPlan.SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyPlan.SubjectId" class="control-label">Предмет</label>
                <select class="form-select" asp-for="StudyPlan.SubjectId">
                    <option hidden selected value="">Select</option>
            @foreach (var subject in Model.SubjectOptions)
            {
                if (Model.StudyPlan.SubjectId == subject.Key)
                {
                                                                               <option selected value="@subject.Key" >@subject.Value</option>
                }
                else
                {
                                                                               <option value="@subject.Key" >@subject.Value</option>
                }
                                      
            }
                </select>
                <span asp-validation-for="StudyPlan.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyPlan.StudyGroupId" class="control-label">Учебная группа</label>
                <select class="form-select" asp-for="StudyPlan.StudyGroupId">
                    <option hidden selected value="">Select</option>
            @foreach (var studyGroup in Model.StudyGroupOptions)
            {
                if (Model.StudyPlan.StudyGroupId == studyGroup.Key)
                {
                            <option selected value="@studyGroup.Key" >@studyGroup.Value</option>
                }
                else
                {
                         <option value="@studyGroup.Key" >@studyGroup.Value</option>
                }
                                          
            }
                </select>
                <span asp-validation-for="StudyPlan.StudyGroupId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="StudyPlan.FormOfControlId" class="control-label">Форма контроля</label>
                <select class="form-select" asp-for="StudyPlan.FormOfControlId">
                    <option hidden selected value="">Select</option>
            @foreach (var formOfControl in Model.FormOfControlOptions)
            {
                if (Model.StudyPlan.FormOfControlId == formOfControl.Key)
                {
                                            <option selected value="@formOfControl.Key" >@formOfControl.Value</option>
                }
                else
                {
                                         <option value="@formOfControl.Key" >@formOfControl.Value</option>
                }
                                              
            }
                </select>
                <span asp-validation-for="StudyPlan.FormOfControlId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="StudyPlan.TypeOfOccupationId" class="control-label">Вид занятий</label>
                <select class="form-select" asp-for="StudyPlan.TypeOfOccupationId">
                    <option hidden selected value="">Select</option>
            @foreach (var typeOfOccupation in Model.TypeOfOccupationOptions)
            {
                if (Model.StudyPlan.TypeOfOccupationId == typeOfOccupation.Key)
                {
                                                           <option selected value="@typeOfOccupation.Key" >@typeOfOccupation.Value</option>
                }
                else
                {
                                                        <option value="@typeOfOccupation.Key" >@typeOfOccupation.Value</option>
                }
                                                 
            }
                </select>
                <span asp-validation-for="StudyPlan.TypeOfOccupationId" class="text-danger"></span>
            </div>
            <div style="margin-top:10px;" class="form-group box">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
