@model UniversityDatabase.ViewModels.StudyPlan.StudyPlanCreateViewModel;

<section class="form-section section">
    <div class="container">
        <div class="form-section-inner">
            <div class="form-section-head">
                <h1 class="form-section-title">Редактировать Учебный план</h1>
                <a class="form-section-back" asp-action="Index">Вернуться</a>
            </div>

            <form class="form form-create" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.StudyPlan.Id" type="hidden" asp-for="StudyPlan.Id" />
            <input value="@Model.StudyPlan.RemainingHours" type="hidden" asp-for="StudyPlan.RemainingHours" />
            <input value="@Model.StudyPlan.TotalHours" type="hidden" name="initialTotalHours" />

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Кол-во часов</h3>
                    <input asp-for="StudyPlan.TotalHours" class="form-control" />
                    </label>
                    <span asp-validation-for="StudyPlan.TotalHours" class="form-group-danger"></span>
                </div>

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Курс</h3>
                <select class="form-select form-control" asp-for="StudyPlan.CourseId">
                    <option hidden selected value="">Select</option>

                            @foreach (var course in Model.CourseOptions)
                            {

                                         <option value="@course.Key" >@course.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.CourseId" class="form-group-danger"></span>
                </div>

                <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Семестр</h3>
                <select class="form-select form-control" asp-for="StudyPlan.SemesterId">
                    <option hidden selected value="">Select</option>

                            @foreach (var semester in Model.SemesterOptions)
                            {
                                      <option value="@semester.Key" >@semester.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.SemesterId" class="form-group-danger"></span>
                </div>

                <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Предмет</h3>
                <select class="form-select form-control" asp-for="StudyPlan.SubjectId">
                    <option hidden selected value="">Select</option>

                            @foreach (var subject in Model.SubjectOptions)
                            {
                                          <option value="@subject.Key" >@subject.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.SubjectId" class="form-group-danger"></span>
                </div>

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Учебная группа</h3>
                <select class="form-select form-control" asp-for="StudyPlan.StudyGroupId">
                    <option hidden selected value="">Select</option>

                            @foreach (var studyGroup in Model.StudyGroupOptions)
                            {
                                              <option value="@studyGroup.Key" >@studyGroup.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.StudyGroupId" class="form-group-danger"></span>
                </div>

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Форма контроля</h3>
                <select class="form-select form-control" asp-for="StudyPlan.FormOfControlId">
                    <option hidden selected value="">Select</option>
                            @foreach (var formOfControl in Model.FormOfControlOptions)
                            {
                                                  <option value="@formOfControl.Key" >@formOfControl.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.FormOfControlId" class="form-group-danger"></span>
                </div>

                 <div class="form-group">
                    <label class="form-group__label">
                        <h3 class="form-group__title">Вид занятий</h3>
                <select class="form-select form-control" asp-for="StudyPlan.TypeOfOccupationId">
                    <option hidden selected value="">Select</option>
                            @foreach (var typeOfOccupation in Model.TypeOfOccupationOptions)
                            {
                                                      <option value="@typeOfOccupation.Key" >@typeOfOccupation.Value</option>
                            }
                </select>
                    </label>
                    <span asp-validation-for="StudyPlan.TypeOfOccupationId" class="form-group-danger"></span>
                </div>

            <div class="form-section__submit-wrapper">
                <button type="submit" class="form-section__submit-btn">Сохранить</button>
            </div>
        </form>
        </div>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
